* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    height: 100vh
}
/* header */
header {
    height: 8vh;
    width: 87vw;
    background-color: #121212;
    position: absolute;
    top: 0px;
    left: 13vw;
}

.header-container {
    display: flex;
    justify-content: space-between;

}

.header-left {
    display: flex;
    justify-content: space-around;
    width: 8%;
    height: 54px;
}

.header-left span {
    color: #A0A0A0;
    line-height: 100%;
    background-color: black;
    border-radius: 50%;
    margin-top: 11px;
}

.header-left i {
    margin-top: 8px;
    margin-left: 9px;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.header-right a {
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.header-right button {
    margin-right: 30px;
}

.upgrade {
    border: 1px solid #535353;
    background-color: transparent;
    border-radius: 20px;
    height: 60%;
    margin-top: calc(8vh - 48px);
    text-transform: uppercase;
    font-weight: bold;
}

.upgrade:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.upgrade-link {
    line-height: 10px;
    padding: 5px 60px;
}

.profile {
    border: none;
    background-color: black;
    border-radius: 20px;
    height: 60%;
    margin-top: calc(8vh - 48px);
    text-transform: uppercase;
    font-weight: bold;
}

.profile:hover {
    background-color: #282828;
}

.profile a {
    padding: 10px;
}

.fa-user {
    height: 30px;
    width: 30px;
    font-size: 20px;
    background-color: black;
    border-radius: 50%;
    padding: 4px;
}

.profile p {
    padding: 0px 5px;
    display: inline;
}
/* /header */
/* aside */
aside {
    height: 88vh;
    width: 13vw;
    background-color: black;
    position: absolute;
    left: 0px;
    top: 0px;
}

.aside-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.aside-top-container {
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.logo img {
    max-width: 70%;
}

.menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 150px;
}

.menu div {
    padding: 10px 0px;
}

.menu i {
    margin-right: 15px;
    font-size: 20px;
    width: 20px;
}

.menu span {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding-left: 10px;
    transition: 0.5s
}

.menu span:hover {
    color: white;
    cursor: pointer;
}

.aside-home {
    background-color: #282828;
    border-radius: 6px;
}

.aside-home span {
    color: white;
}

.playlist {
    color: #b3b3b3;
    height: 100%
}

.playlist-container {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.playlist h3 {
    text-transform: uppercase;
    font-size: 13px;
}

.playlist span {
    font-weight: bold;
}

.playlist-create i {
    color: black;
    padding: 5px;
    font-size: 20px;
    background-color: #b3b3b3;
    margin-right: 10px;
}

.playlist-create:hover {
    cursor: pointer;
}

.playlist-create:hover i {
    background-color: white;
    transition: 0.5s
}

.playlist-create:hover span {
    color: white;
    transition: 0.5s;
}


.playlist-favourite i {
    color: #c8c8c8;
    background-image: linear-gradient(to right bottom, #2d0b93, #654cb2, #9786ce, #c9c1e8, #9a9a9a);
    padding: 5px;
    font-size: 18px;
    background-color: #b3b3b3;
    margin-right: 10px;
    transition: 0.5s
}

.playlist-favourite:hover {
    cursor: pointer;
}

.playlist-favourite:hover span {
    color: white;
    transition: 0.5s
}

.playlist-favourite:hover i {
    color: white;
    background-image: linear-gradient(to right bottom, #4910f4, #7f5cfd, #ab93ff, #d4c9ff, #ffffff);
}

.aside-bottom {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-right: 80px;
}

.aside-bottom i {
    margin-right: 12px;
}

.aside-bottom a {
    font-size: 15px;
    color: #adadad;
}

.aside-bottom:hover {
    cursor: pointer
}

.aside-bottom:hover a {
    color: white;
    text-decoration: none;
}
/* /aside */

main {
    height: 80vh;
    width: 87vw;
    background-color: yellow;
    position: absolute;
    top: 8vh;
    left: 13vw;
}

footer {
    height: 12vh;
    width: 100vw;
    background-color: blue;
    position: absolute;
    left: 0px;
    top: 88vh;
}
