* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
}
/* header */
header {
    height: 53px;
    width: 100%;
    background-color: #121212;
    position: fixed;
    top: 0px;
    padding-left: 200px;
    z-index: 3;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: space-around;
    width: 8%;
    height: 54px;
    align-items: center;
}

.header-left span {
    color: #A0A0A0;
}

.header-left i {
    margin-top: 8px;
    margin-left: 9px;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}

.header-right a {
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.header-right button {
    margin-right: 40px;
}

.hamburger {
    display: none;
    color: white;
    font-size: 20px;
    padding-right: 30px;
}

.hamburger:hover {
    color: white;
}

.upgrade {
    border: 1px solid #535353;
    background-color: transparent;
    border-radius: 20px;
    height: 60%;
    text-transform: uppercase;
    font-weight: bold;
}

.upgrade:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.upgrade-link {
    line-height: 30px;
    padding: 5px 60px;
}

.profile {
    border: none;
    background-color: black;
    border-radius: 20px;
    height: 60%;
    text-transform: uppercase;
    font-weight: bold;
}

.profile:hover {
    background-color: #282828;
}

.profile a {
    padding: 10px;
}

.fa-user {
    height: 30px;
    width: 30px;
    font-size: 20px;
    background-color: black;
    border-radius: 50%;
    padding: 4px;
}

.profile p {
    padding: 0px 5px;
    display: inline;
}
/* /header */
/* aside */
aside {
    height: 100%;
    width: 200px;
    background-color: black;
    position: fixed;
    left: 0px;
    top: 0px;
    padding-bottom: 80px;
    z-index: 4;
}

.aside-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.aside-top-container {
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.logo img {
    max-width: 70%;
}

.menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 150px;
}

.menu div {
    padding: 10px 0px;
}

.menu i {
    margin-right: 15px;
    font-size: 20px;
    width: 20px;
}

.menu span {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    padding-left: 10px;
    transition: 0.5s
}

.menu span:hover {
    color: white;
    cursor: pointer;
}

.aside-home {
    background-color: #282828;
    border-radius: 6px;
}

.aside-home span {
    color: white;
}

.playlist {
    color: #b3b3b3;
    height: 100%
}

.playlist-container {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.playlist h3 {
    text-transform: uppercase;
    font-size: 13px;
}

.playlist span {
    font-weight: bold;
}

.playlist-create i {
    color: black;
    padding: 5px;
    font-size: 20px;
    background-color: #b3b3b3;
    margin-right: 10px;
}

.playlist-create:hover {
    cursor: pointer;
}

.playlist-create:hover i {
    background-color: white;
    transition: 0.5s
}

.playlist-create:hover span {
    color: white;
    transition: 0.5s;
}

.playlist-favourite {
    border-bottom: 1px solid #282828;
    padding-bottom: 10px;
}


.playlist-favourite i {
    color: #c8c8c8;
    background-image: linear-gradient(to right bottom, #2d0b93, #654cb2, #9786ce, #c9c1e8, #9a9a9a);
    padding: 5px;
    font-size: 18px;
    background-color: #b3b3b3;
    margin-right: 10px;
    transition: 0.5s
}

.playlist-favourite:hover {
    cursor: pointer;
}

.playlist-favourite:hover span {
    color: white;
    transition: 0.5s
}

.playlist-favourite:hover i {
    color: white;
    background-image: linear-gradient(to right bottom, #4910f4, #7f5cfd, #ab93ff, #d4c9ff, #ffffff);
}

.aside-bottom {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 16px;
}

.aside-bottom i {
    margin-right: 12px;
}

.aside-bottom a {
    font-size: 13px;
    font-weight: bold;
    color: #adadad;
    transition: 0.5s;
}

.aside-bottom:hover {
    cursor: pointer
}

.aside-bottom:hover a {
    color: white;
    text-decoration: none;
}
/* /aside */
/* main */
main {
    background-color: #121212;
    height: 100%;
    padding-left: 200px;
    padding-top: 50px;
    padding-bottom: 100px;
}

section {
    padding: 25px;
}

.section-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-top h2 {
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-top: 0px;
    margin-bottom: 4px;
}

.section-top h2:hover {
    margin-bottom: 0px;
    padding-bottom: 3px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.section-top a {
    font-size: 12px;
    color: grey;
    text-transform: uppercase;
    font-weight: bold;
}

.section-subtitle h3 {
    font-size: 12px;
    color: #b3b3b3;
    margin-top: 5px;
}

.element-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.element {
    background-color: #272727;
    width: 165px;
    height: 240px;
    border-radius: 8px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
}

.element:hover {
    cursor: pointer;
}

.element img {
    width: 130px;
    border-radius: 5px;
}

.element h4 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.element h5 {
    margin-top: 10px;
    font-size: 12px;
    color: #b2b2b2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.play-element {
    color: white;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: #1eb954;
    border-radius: 50%;
    padding: 12px;
}

.element-play {
    display: none;
}

.element:hover .element-play {
    display: block;
}
/* /main */
/* footer */
footer {
    height: 80px;
    width: 100vw;
    background-color: #282828;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    border-top: 1px solid black;
    z-index: 6;
}

.footer-left {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

.song-cover {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.song-cover img {
    max-height: 70%;
}

.song-detail {
    height: 85%;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.song-title h3 {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
    color: white;
}

.song-artist h4 {
    font-size: 10px;
    margin-top: 0px;
    color: #c8c8c8;
    display: inline;
}

.song-artist h4:hover {
    color: white;
    cursor: pointer;
}

.song-action {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.song-action a {
    color: #c8c8c8;
}

.song-action a:hover {
    color: white;
}

.footer-center {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.player-top {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.player-top i {
    font-size: 10px;
    color: #c8c8c8;
}

.player-top i:hover {
    color: white;
    border-color: white;
    cursor: pointer;
}

.play-footer {
    border: 1px solid #c8c8c8;
    border-radius: 50%;
    padding: 12px;
}

.player-bottom {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
}

.player-bottom span {
    color: #c8c8c8;
}

.song-range {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.song-range div {
    width: 250px;
    height: 4px;
}

.range-left {
    background-color: #b3b3b3;
}

.range-right {
    background-color: #535353;
}

.song-range i {
    display: none;
}

.song-range:hover i {
    display: block;
}

.song-range:hover .range-left {
    background-color: #1daf55;
    width: 236px;
}

.footer-right {
    height: 100%;
    width: 15%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 20px;
}

.footer-right i {
    color: #c8c8c8;
}

.footer-right i:hover {
    color: white;
}

.volume-range {
    display: flex;
    align-items: center;
}

.volume-range:hover i {
    display: block;
}

.volume-range:hover .volume-range-left {
    width: 30px;
    background-color: #1daf55;
}

.volume-range i {
    color: white;
    font-size: 10px;
    display: none;
}

.volume-range div {
    width: 40px;
    height: 3px;
}

.volume-range-left {
    background-color: #b3b3b3;
}

.volume-range-right {
    background-color: #535353;
}
/* /footer */
/* media-query */

@media screen and (max-width: 1200px) {
    .volume-range {
        display: none;
    }

    .volume-icon {
        display: none;
    }

    .mini-player {
        display: none;
    }

    .header-right button p {
        display: none;
    }

    .song-range div {
        width: 150px;
    }

    .song-range:hover .range-left {
        width: 137px
    }

    .player-top {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    aside {
        display: none;
    }

    main {
        padding-left: 0;
    }

    header {
        padding-left: 0;
    }

    .profile {
        display: none;
    }

    .upgrade {
        display: none;
    }

    .song-cover {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .song-range div {
        width: 100px;
    }

    .song-range:hover .range-left {
        width: 87px
    }
}
